Build started...
Build succeeded.
warn: Microsoft.EntityFrameworkCore.Model.Validation[30000]
      No store type was specified for the decimal property 'PikCmim' on entity type 'Pikture'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
warn: Microsoft.EntityFrameworkCore.Model.Validation[30000]
      No store type was specified for the decimal property 'RreCmim' on entity type 'Rresht'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
GO

CREATE TABLE [GALERI] (
    [GAL_ID] nvarchar(3) NOT NULL,
    [GAL_MNG] nvarchar(25) NOT NULL,
    [GAL_TEL] nvarchar(12) NOT NULL,
    [GAL_ZON] nvarchar(4) NOT NULL,
    CONSTRAINT [PK_GALERI] PRIMARY KEY ([GAL_ID])
);
GO

CREATE TABLE [PERSON] (
    [PER_ID] nvarchar(10) NOT NULL,
    [PER_EM] nvarchar(25) NOT NULL,
    [PER_MB] nvarchar(25) NOT NULL,
    [PER_DAT] datetime2 NOT NULL,
    [PER_ZON] nvarchar(4) NOT NULL,
    [PER_TEL] nvarchar(12) NOT NULL,
    CONSTRAINT [PK_PERSON] PRIMARY KEY ([PER_ID])
);
GO

CREATE TABLE [FATURE] (
    [FAT_ID] int NOT NULL IDENTITY,
    [PER_ID] nvarchar(10) NOT NULL,
    [FAT_DAT] datetime2 NOT NULL,
    CONSTRAINT [PK_FATURE] PRIMARY KEY ([FAT_ID]),
    CONSTRAINT [FK_FATURE_PERSON_PER_ID] FOREIGN KEY ([PER_ID]) REFERENCES [PERSON] ([PER_ID]) ON DELETE CASCADE
);
GO

CREATE TABLE [PIKTURE] (
    [PIK_ID] nvarchar(4) NOT NULL,
    [PIK_TIT] nvarchar(35) NOT NULL,
    [PIK_CMIM] decimal(18,2) NOT NULL,
    [PER_ID] nvarchar(10) NOT NULL,
    [GAL_ID] nvarchar(3) NOT NULL,
    CONSTRAINT [PK_PIKTURE] PRIMARY KEY ([PIK_ID]),
    CONSTRAINT [FK_PIKTURE_GALERI_GAL_ID] FOREIGN KEY ([GAL_ID]) REFERENCES [GALERI] ([GAL_ID]) ON DELETE CASCADE,
    CONSTRAINT [FK_PIKTURE_PERSON_PER_ID] FOREIGN KEY ([PER_ID]) REFERENCES [PERSON] ([PER_ID]) ON DELETE CASCADE
);
GO

CREATE TABLE [RRESHT] (
    [FAT_ID] int NOT NULL,
    [RRE_ID] tinyint NOT NULL,
    [PIK_ID] nvarchar(4) NOT NULL,
    [RRE_SASI] tinyint NOT NULL,
    [RRE_CMIM] decimal(18,2) NOT NULL,
    [FatureFatId] int NULL,
    CONSTRAINT [PK_RRESHT] PRIMARY KEY ([FAT_ID], [RRE_ID]),
    CONSTRAINT [FK_RRESHT_FATURE_FAT_ID] FOREIGN KEY ([FAT_ID]) REFERENCES [FATURE] ([FAT_ID]) ON DELETE CASCADE,
    CONSTRAINT [FK_RRESHT_FATURE_FatureFatId] FOREIGN KEY ([FatureFatId]) REFERENCES [FATURE] ([FAT_ID]),
    CONSTRAINT [FK_RRESHT_PIKTURE_PIK_ID] FOREIGN KEY ([PIK_ID]) REFERENCES [PIKTURE] ([PIK_ID]) ON DELETE CASCADE
);
GO

CREATE INDEX [IX_FATURE_PER_ID] ON [FATURE] ([PER_ID]);
GO

CREATE INDEX [IX_PIKTURE_GAL_ID] ON [PIKTURE] ([GAL_ID]);
GO

CREATE INDEX [IX_PIKTURE_PER_ID] ON [PIKTURE] ([PER_ID]);
GO

CREATE INDEX [IX_RRESHT_FatureFatId] ON [RRESHT] ([FatureFatId]);
GO

CREATE INDEX [IX_RRESHT_PIK_ID] ON [RRESHT] ([PIK_ID]);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260117010755_InitGaleria', N'8.0.3');
GO

COMMIT;
GO


