@model PROJEKTDB.Models.Galeri

<h2>Delete</h2>
<p>A je i sigurt që do ta fshish këtë galeri?</p>

<dl class="row">
    <dt class="col-sm-2">ID</dt>
    <dd class="col-sm-10">@Model.GalId</dd>

    <dt class="col-sm-2">Manager</dt>
    <dd class="col-sm-10">@Model.GalMng</dd>

    <dt class="col-sm-2">Phone</dt>
    <dd class="col-sm-10">@Model.GalTel</dd>

    <dt class="col-sm-2">Zone</dt>
    <dd class="col-sm-10">@Model.GalZon</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="GalId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>
